<div class="hr">
  <h1>${genre} <span>(${numberOfItems} Movies)</span></h1>
</div>

<table class="data_table width_full">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year Released</th>
      <th>Rating</th>
      <th>Synopsis</th>
    </tr>
  </thead>
  <tbody>
  {{each movies}}
    <tr class="alt">
      <td>
        <a href="#/Movie/Detail/${Id}"><img src="${BoxArt.LargeUrl}" alt="${Name}" /></a><br />
        <a href="#/Movie/Detail/${Id}">${Name}</a>
      </td>
      <td>${ReleaseYear}</td>
      <td>${AverageRating}</td>
      <td>{{html $item.truncate(ShortSynopsis, 35)}} </td>
    </tr>
  {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        {{html $item.paging()}}
      </td>
    </tr>
  </tfoot>
</table>